<div class="input__wrapper container__flex container__direction__column dark text">
    <label for="" id="<%-inputId%>__label" class="text__semibold"><%-labelText%></label>
    <input type=<%-inputType%> id="<%-inputId%>__input" class="lockscreen__input rounded bordless text text__semibold bg dark" name=<%-inputName%> required autocomplete="off">
    <span class="input__underline"></span>
</div>