<!DOCTYPE html>
<html lang="en">
<%-include ("./partials/head.ejs") %>
<body class="apple">
    <div id="home__workspace" class="home__container ">
        <div id="home__menu" class="dark bg bg__dark rounded disabled hidden">
            <div id="home__buttons__grid">
                <%-include("./components/button.ejs",{buttonId:"home__app__music", buttonType:"button",buttonText:"<i class='icon-app__music'></i>", specificClasses:" bgLight apple dark light text home__app__button"})%> 
                <%-include("./components/button.ejs",{buttonId:"home__app__music", buttonType:"button",buttonText:"<i class='icon-app__calculator'></i>", specificClasses:"apple bgLight dark light text home__app__button"})%> 
                <%-include("./components/button.ejs",{buttonId:"home__app__notepad", buttonType:"button",buttonText:"<i class='icon-app__notepad'></i>", specificClasses:"apple bgLight dark light text home__app__button"})%> 
                <%-include("./components/button.ejs",{buttonId:"home__app__music", buttonType:"button",buttonText:"<i class='icon-app__clock'></i>", specificClasses:" apple bgLight dark light text home__app__button"})%> 
                <%-include("./components/button.ejs",{buttonId:"home__app__music", buttonType:"button",buttonText:"<i class='icon-app__brush'></i>", specificClasses:"apple bgLight dark light text home__app__button"})%> 
                <%-include("./components/button.ejs",{buttonId:"home__app__music", buttonType:"button",buttonText:"<i class='icon-app__settings'></i>", specificClasses:"apple bgLight dark light text home__app__button"})%> 
            </div>
            <div id="home__menu__footer" class="Mmargin__top container__flex justified__spaced aligned__centered text text__semibold dark">
                <p>feito por <a href="https://github.com/h3nrey" target="blank" class="text__tittle dark fluid" id="myhub">h3nrey</a></p>
                <a href="/" class="dark text" id="logout__link"><i class='icon-general__log-out'></i></a>
            </div>
        </div>
    </div>
    <footer class="home__container bg bg__dark container__flex aligned__centered justified__spaced">
        <div class="text">bem vindo, <span class="text__tittle"><%=user.username%></span></div>
        <button id="menu__button" class="rounded bgLight dark bordless text fluid"> <i class="icon-logo"></i> </button>
        <div id="hour__container" class="text container__flex container__direction__column">
            <p id="hour" class="text__tittle"></p>
            <p id="date"></p>
        </div>
    </footer>
    <script src="scripts/SettingDate.js"></script>
    <script>
        const menuButton = document.querySelector("button#menu__button");
        menuButton.addEventListener("click", () => {
            menu = document.querySelector("#home__menu");
            menu.classList.toggle("hidden");
            if (menu.classList.contains("disabled")) {
                menu.classList.toggle("disabled");
            } else {
                setTimeout(() => {
                    menu.classList.toggle("disabled")
                }, 601);
            }
        })
    </script>
</body>
</html>